*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
}
.container{
    width: 1200px;
    margin: 0 auto;
    
}